body{
    background-color:#282828;
}

.below{
    color:white;
    margin: auto;
    width: 50%;
    border: 8px solid rgb(201, 0, 201);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.above{
    color:white;
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.note{
    font-style: italic;
}

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: rgb(255, 120, 143);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: rgb(195, 67, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 120, 143);
    background-color: transparent;
    text-decoration: underline;
  }